body {
  margin: 0;
  font-size: 50px;
  font-family: "Impact", sans-serif;
  background-color: black; /* 全体背景を黒に設定 */
}

.headerlogo{
  font-family: "Impact", sans-serif;
  float: left;
  font-size: 150px;
  margin: 1px 18px 20px; 
  padding-top: 1px;
  }
   
  ul{
    font-family: "Impact", sans-serif;
    list-style: none;
    float: RIGHT;
    margin: 1px; 
    font-size: 25px;
    padding: 50px 20px 1px 30px; /* header項目間の距離調整*/
  }

  a, h1 a {
    color:white;
    text-decoration: none;
  }

.header img {
  float: left;
  width: 400px;
  height: auto;
  display: block;
  margin: 20px 0px 0px 10px;
  /*margin: 50px auto 20px;*/
}

.body-img img {
  width: 30%; /* 画像の横幅 */
  height: auto; /* 画像の縦幅は自動調整 */
  margin: 10px; /* 画像の間隔調整 */
  display: inline-block; /* 画像を横並びにする */
  box-sizing: border-box; /* ボックスサイズを変更してマージンが要素のサイズに含まれるようにする */
  padding:0px;
}

/* スマホ画面でのスタイル変更 */
@media only screen and (max-width: 700px) {
  .body-img {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .body-img img {
    width: calc(30% - 20px); /* 画像の幅を30%に変更。marginを考慮して調整 */
    margin: 10px;
  }
}
