
body {
  color: white;
  background-color: black;
}

.headerlogo{
float: left;
 font-size: 60px;
 margin: 1px 18px 20px; 
 padding-top: 1px;
}
 
ul{
  list-style: none;
  float: RIGHT;
  margin: 1px; 
  font-size: 20px;
  padding: 20px 20px 1px 5px; /* header項目間の距離調整*/
}

.header img {
  position: absolute;
  width: 50%;
  top: 250px;
  left:70px;
}

.japanese-figcaption, .english-figcaption {
  color: whitesmoke;
  position:relative;
  font-size:20px;
  width:40%;
  top:250px;
  left:700px;
}

h1 {
  font-size: 20px;
  text-align: left;
}

a, h1 a {
  color: pink;
  text-decoration: none;
}


