body {
  margin: 0;
  font-size: 50px;
  font-family: "Impact", sans-serif;
  background-color: black; /* 全体背景を黒に設定 */
}

.header img {
  width: 600px;
  height: auto;
  display: block;
  margin: 50px auto;
  /*margin: 50px auto 20px;*/

}

.top-wrapper {
  font-family: "Impact", sans-serif;
  margin: 50px auto;
  color: white;
  background-color: black;
  background-size: cover;
  text-align: center;
}

.body-img img {
  width: 42%; /* 画像の横幅 */
  height: auto; /* 画像の縦幅は自動調整 */
  margin: 20px; /* 画像の間隔調整 */
  display: inline-block; /* 画像を横並びにする */
  box-sizing: border-box; /* ボックスサイズを変更してマージンが要素のサイズに含まれるようにする */
}
