body {
  font-family: "Impact", sans-serif;
  margin: 20px auto;
  font-size: 80px;
  color: white;
  background-color: black;
  text-align: center;
}

.body-img{
 margin:1% auto 40% auto;
 width:100%;
}

