
.header img {
  width: 900px;
  height: auto;
  display: block;
  margin: 10px auto 10px;
  float:left;
  padding:0% 0% 0% 3%;
}
  
body { /*項目のサイズ配置調整*/
  margin: 0;
  font-size:50px;
  font-family: "Impact", sans-serif;
  background-color: black;
}

img{ /* スライドショーの画像サイズ配置調整 */
  width:93%;/*写真の横幅*/
  height:93%;/*写真の縦*/
  margin: 1px 30px 50px 60px;
  text-align: center;
}
 .container{
  padding:0% 0% 0% 3%; /*項目の横位置修正*/
  margin:0 auto;
}

.container a {
 color: white;
 text-decoration: none;
}

.top-wrapper{
  margin: 10px 30px 30px 30px;
  color:white;
  background-size:cover;
}

h1 {
  margin: 0;
}

footer img{ /*toriキャラの設定*/
  width: 250px; /* 画像の横幅を調整 */
  height: auto; /* 高さは自動調整 */
  float: right;
  margin-top: 1px;
  margin-right: 0px;
}
