.header{
  font-size:150px;
  font-weight: bold;
  font-family: "Impact", sans-serif;
  padding-top:20px  30px;
  color:white;
  margin-left: 10px;
}

.header-list{
  font-size:20px;
  font-weight: bold;
  font-family: "Impact", sans-serif;
  color:white;
  float:right;
}   
  
body {
  margin: 0;
  font-size:60px;
  font-family: "Impact", sans-serif;
  background-color: black;
}

.small-font {
  font-size: 30px; /* 新しいクラス .small-font にフォントサイズを指定 */
}

img{
  width:100%;/*写真の横幅*/
  height:100%;/*写真の縦*/
  margin: 1px 30px 50px 60px;
}
 .container{
  width:1300px; /*項目の横位置修正*/
  margin:0 auto;
}

.top-wrapper{
  margin: 10px 30px 30px 30px;
  color:white;
  background-size:cover;
}

h1 {
  margin: 0;
}

footer img{
  width: 350px; /* 画像の横幅を調整 */
  height: auto; /* 高さは自動調整 */
  float: right;
  margin-top: 10px;
  margin-right: 5px;
}
